@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(./reset.css);

/* ------------ PADRONIZAÇÂO ------------*/
:root {
    --cor-2: #4458dc;
    --cor-1: #854fee;
    --cor-title: #141313;
    --cor-texto: #777777;
    --cor-borda: #201f1f17;
    --cor-gradient: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --cor-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    --font: 'Roboto', arial;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--azul-1)
}

::-webkit-scrollbar-thumb {
    background-color: var(--azul-2);
    border-radius: 8px;
}

/* ------------ HEADER ------------*/

header {
    width: 100vw;
    height: 9vh;
    position: fixed;
    z-index: 999;
    background-color: white;
    font-family: var(--font);
    display: flex;
    align-items: center;
}

header h2 {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-title);
}

header h2 span {
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--cor-1);
}

.cabecalho {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 2.8rem;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--cor-title);
}

nav ul li a.ativo {
    background: var(--cor-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid var(--cor-1);
}

nav ul li a:hover {
    background: var(--cor-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ------------ MAIN ------------*/
main {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
}

.principal {
    padding-top: 4%;
    width: 100%;
    width: 1100px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    justify-content: space-between;
}

.principal-textos {
}

.principal-textos h1 {
    font-size: 4.3rem;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
}

.principal-textos h4 {
    color: #212529;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.principal-textos h4 span {
    border-bottom: 2px solid #212529;
}

.principal-textos h3 {
    color: #212529;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.principal-img {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-img img {
    width: 30rem;
    animation: img-main 16s ease 0s infinite normal forwards;
}

.principal-img img:hover {
    transition: all 5s ease;
    zoom: 1.006;
}

@keyframes img-main {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(5px);
    }

    20%,
    40%,
    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.principal-btn {
    display: flex;
    gap: 20px;
}

.principal-btn button {
    padding: 0.8rem 1.8rem;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-contato {
    color: white;
    border: 2.5px solid var(--cor-1);
    cursor: pointer;
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
}

.btn-contato:hover {
    color: #000;
    border: 2.5px solid var(--cor-1);
    background: white;
    transition: all 1s ease;
}

.btn-curriculo {
    background-color: white;
    cursor: pointer;
    border: 2.5px solid var(--cor-1);
}

.btn-curriculo:hover {
    color: white;
    border: 2.5px solid var(--cor-1);
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    transition: all 1s ease;
}