@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ------------------ VARIAVEIS PARA AJUDAR NA RESPONSIVIDADE ------------------ */
:root {
  /* MINHA PALETA DE CORES */
  --primeira-cor: #4458dc;
  --segunda-cor: #0e2431;
  --terceira-cor: #8e0af3;
  --cor-grandient: linear-gradient(to right, #5001fb, #8e0af3);

  /* ESTILO DAS FONTES ULTILIZADAS */
  --body-font: 'Roboto', sans-serif;
  --font-grande: 2rem;
  --tamanho-subtitulo: 1.5rem;
  --tamanho-normal: 0.938rem;

  /* PADRÃO DE MARGENS */
  --margin-principal: 1rem;
  --margin-secundaria: 2rem;
  --margin-terceira: 2.5rem;
  --margin-quarta: 3rem;
}

@media screen and (min-width: 768px) {
  :root {
    --font-grande: 3.5rem;
    --tamanho-subtitulo: 2rem;
    --tamanho-normal: 1rem;
  }
}

/* RESET BASICO */
* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* ------ */

html {
  scroll-behavior: smooth;
}

body,
html {
  /* Overflow-x -> esconde a barra do eixo X */
  overflow-x: hidden;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-size: var(--tamanho-normal);
  color: var(--segunda-cor);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* GRID */
.grid-padrao {
  max-width: 1090px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  /* Calculando 100% da grid menos 32px */
  width: calc(100% - 2rem);
  margin-left: var(--margin-principal);
  margin-right: var(--margin-principal);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* ---------------------- NAVEGAÇÃO ------------------------- */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .nav_menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--segunda-cor);
    transition: 0.5s;
  }
}

.nav_items {
  margin-bottom: var(--margin-secundaria);
  font-size: 1.2rem;
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primeira-cor);
}

.nav_logo {
  color: #000;
  font-size: 1.5rem;
}


.nav_logo span {
  color: var(--terceira-cor);
}

.nav_mobile {
  color: var(--segunda-cor);
  font-size: 1.5rem;
  cursor: pointer;
}

/* ativo MENU */
.ativo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primeira-cor);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_informacoes {
  align-self: center;
}

.home_titulo {
  font-size: var(--font-grande);
  margin-bottom: var(--margin-terceira);
}

.home_titulo p {
  font-size: 2rem;
}

#home_minha_profissao {
  font-size: 2.7rem;
}

.home_titulo-cor {
  color: var(--primeira-cor);
}

.home_rede_social {
  display: flex;
  flex-direction: column;
}

.home_rede_social-icon {
  /* Max-content -> Maximo de conteudo */
  width: max-content;
  margin-bottom: var(--margin-principal);
  font-size: 1.5rem;
  color: var(--segunda-cor);
}

.home_rede_social-icon:hover {
  color: var(--primeira-cor);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: -1;
}

.home_img img {
  width: 100%;
}

/* BOTÔES */
.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: var(--cor-grandient);
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.titulo-secao {
  position: relative;
  font-size: var(--tamanho-subtitulo);
  color: var(--primeira-cor);
  margin-top: var(--margin-principal);
  margin-bottom: var(--margin-secundaria);
  text-align: center;
}

.titulo-secao::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--primeira-cor);
}

/* SOBRE MIM */

.sobre_container {
  row-gap: 2rem;
  text-align: center;
}

.sobre_texto {
  line-height: 23px;
}

.sobre_subtitulo {
  margin-bottom: var(--margin-principal);
}

.sobre_img {
  justify-content: center;
}

.sobre_img img {
  width: 300px;
  border-radius: 0.5rem;
}

/* PROJETOS */

.projetos {
  text-align: center;
}

.servicos {
  text-align: center;
}

.projetos_container {
  row-gap: 2rem;
}

.group_projetos {
  font-family: var(--body-font);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.group_projetos a {
  padding: 10px;
  font-weight: 500;
  font-size: var(--tamanho-normal);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgba(68, 88, 220, 0.1);
}

.group_projetos a:hover {
  transition: 0.5s;
  color: white;
  background-color: var(--primeira-cor);
}

.card {
  position: relative;
  max-width: 18.75rem;
  box-shadow: 3px 3px 5px #ccc;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
}

.card-body {
  padding: 1.5em;
  padding-bottom: 0;
}

.card-thumb a img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.2);
}

.card-thumb {
  position: relative;
  height: 200px;
  transition: height 0.4s ease;
}

.card-thumb a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card:hover .card-thumb {
  height: calc(200px - 4.5rem);
}

.card-thumb::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card:hover .card-thumb::after {
  opacity: 0.4;
}

.card-date {
  display: flex;
  position: absolute;
  top: -3rem;
  right: 0;
  width: fit-content;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #efefef;
  color: #000;
  border-radius: 2rem;
  transition: top 0.4s ease;
}

.card-date :first-child {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}

.card-date :last-child {
  font-size: 0.75rem;
}

.card-category {
  position: absolute;
  bottom: -1rem;
  right: 0;
  margin: 0 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #4193f7;
  color: #fff;
  border-radius: 2rem;
  z-index: 1;
  transition: right 0.4s ease;
}

.card:hover .card-category {
  right: 45%;
}

.card-subtitle {
  margin-bottom: 0.75rem;
  color: rgb(164, 164, 164);
}

.card-description {
  display: block;
  height: 0;
  padding: 0 0.5em;
  font-size: 0.875rem;
  /* color: rgb(96, 91, 91); */
  color: #666c74;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.2s ease;
}

.card:hover .card-description {
  height: 4.5rem;
  opacity: 1;
}

.card-time i {
  margin: 0 0.25rem;
  color: #4193f7;
}

.card-time span {
  font-size: 0.75rem;
  line-height: 1.875rem;
  vertical-align: top;
}

.card-time {
  margin-right: 0.5rem;
}

.card:hover .card-date {
  top: 0;
}

.item {
  page-break-inside: avoid;
  break-inside: avoid;
  border-radius: 16px;
  transition: all 42s ease;
}

.hide {
  visibility: hidden;
  display: none;
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}

.btn {
  color: #000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
}

.btn:hover {
  background-color: rgba(70, 70, 70, 0.12);
}

.cards_servico {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cards_item_servico {
  display: flex;
  padding: 1rem;
}

@media (min-width: 640px) {
  .cards_item_servico {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .cards_item_servico {
    width: 30%;
  }
}
.card_image{
  height: 55%;
}
.card_servico {
  height: 390px;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 5px #ccc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_conteudo {
  padding: 1rem;
  background: white;
}

.card_titulo {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_texto {
  color: var(--segunda-cor);
  font-size: 0.875rem;
  padding-top: 10px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* CONTATO */

.controle_entrada {
  width: 100%;
  font-size: var(--tamanho-normal);
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--segunda-cor);
  outline: none;
  margin-bottom: var(--margin-secundaria);
}

.control_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--tamanho-normal);
  cursor: pointer;
  margin-left: auto;
}

/* RODAPÉ */
.footer {
  background: var(--primeira-cor);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: var(--margin-secundaria);
}

.footer_title span {
  color: var(--terceira-cor);
}

.footer_socials {
  margin-bottom: var(--margin-secundaria);
}

.footer_icone {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--margin-principal);
}

@media screen and (min-width: 800px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .titulo-secao {
    margin-bottom: var(--margin-quarta);
  }

  .titulo-secao::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(3rem + 1rem);
  }

  .nav_items {
    margin-left: var(--margin-quarta);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_mobile {
    display: none;
  }

  .nav_link {
    color: var(--segunda-cor);
  }

  .home {
    height: 100vh;
  }

  .home_informacoes {
    align-self: flex-end;
  }

  .home_rede_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_rede_social-icon {
    margin-bottom: 0;
    margin-right: var(--margin-secundaria);
  }

  .home_img {
    width: 460px;
    bottom: 15%;
  }

  .home_img img {
    width: 100%;
  }

  .sobre_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    justify-items: center;
  }

  .skills_container {
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: initial;
  }

  .sobre_img img {
    width: 450px;
  }

  .projeto_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .servico_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
  }

  .contato_form {
    width: 400px;
  }

  .contato_container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .grid-padrao {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    right: 10%;
  }
}

@media screen and (max-width: 800px) {
  .home_img {
    display: none;
  }

  .home {
    height: 100vh;
    text-align: center;
  }

  .home_rede_social {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  #home_minha_profissao {
    font-size: 2rem;
    padding-top: 10px;
  }

  .home_titulo p {
    font-size: 1.8rem;
    padding-bottom: 10px;
  }

  :root {
    --font-grande: 2.3rem;
    --tamanho-subtitulo: 2rem;
    --tamanho-normal: 1rem;
  }
}

.skills-header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.skills-box {
  padding: 1rem;
  color: #000;
  cursor: pointer;
}

.skills-box:hover .skills-img {
  transform: translateY(-10px);
}

.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skills-icons {
  width: 50px;
  z-index: 2;
}

.skills-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.skills-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(240, 239, 239, 0.9);
  border-radius: 45px 0 0 45px;
}

.skills-title h3 {
  color: #333;
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {

  .skills_container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (max-width: 500px) {

  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}