nav {
    display: flex;
    flex-direction: row;
}

.fixed {
    position: fixed;
    width: 100vw;
    transition: all 1.5s ease;
}

.fixed-white {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border-radius: 5px;
}

.fixed-white .cabecalho p {
    color: #4275FA;
}

.fixed-white .cabecalho nav ul li a {
    color: #0E091B;
}

/* ---- CABEÇALHO ---- */
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 130px;
    align-items: center;
}

.cabecalho p {
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 36px;
}

.cabecalho-lista {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.cabecalho-lista li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
}

.cabecalho-lista li a {
    padding-bottom: 4.8px;
}

.item-select {
    border-bottom: 3.2px solid #fff;
}

.item-select-fixed {
    border-bottom: 3.2 solid #0E091B;
}


@media (max-width: 1250px) {
    .cabecalho {
        padding: 32px 70px;
    }
}

@media (max-width: 990px) {
    .cabecalho {
        padding: 32px 30px;
    }

    .cabecalho-lista {
        display: none;
    }
}

@media (max-width: 420px) {
    .cabecalho p {
        font-size: 30px;
    }

    .cabecalho {
        padding: 32px 8px;
    }

}