/* ---- Home ---- */
.wrapper-home {
    display: flex;
    flex-direction: column;
    background-color: #0E091B;
}

/* ---- MAIN ---- */
.main-principal {
    object-fit: scale-down;
    display: flex;
    padding: 120px 140px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-titles {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.main-titles p {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 0.4;
    font-size: 24px;
}

.main-titles .nome {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 2;
}


.main-titles h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 0.4;
    font-size: 30px;
}

.main-titles span {
    border-bottom: 1.5px solid #fff;
}

.main-descricao {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 59.008px;
}

.main-buttons {
    display: flex;
    gap: 24px;
}

.main-buttons button {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    padding: 11px 32px;
}

.btn-contatar {
    background-color: white;
    color: #4275FA;
    border: 2px solid white;
    cursor: pointer;
}

.btn-contatar:hover {
    background-color: #4275FA;
    border: 2px solid white;
    color: white;
    transition: all 0.5s ease;
}

.btn-curriculo:hover {
    background-color: white;
    color: #4275FA;
    border: 2px solid white;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-curriculo {
    background-color: #4275FA;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

/* ---- MAIN IMG ---- */

.img-principal {
    width: 480px;
}

.ondulacao {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.ondulacao svg {
    display: block;
    width: calc(190% + 1.3px);
    height: 82px;
}

.ondulacao .shape-fill {
    fill: #0E091B;
}

@media (max-width: 1250px) {
    .main-principal {
        display: flex;
        padding: 120px 70px;
    }

    .main-titles .nome {
        font-size: 35px;
    }

    .main-titles p {
        font-size: 17px;
    }

    .main-titles h1 {
        font-size: 20px;
    }

    .main-descricao {
        font-size: 16px;
    }

    .img-principal {
        width: 430px;
    }

    .ondulacao {
        display: none;
    }

    .main-buttons button {
        font-size: 13.5px;
        padding: 8px 28px;
    }
}

@media (max-width: 990px) {
    .main-principal {

        object-fit: scale-down;
        display: flex;
        padding: 200px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .img-principal {
        display: none;
    }
}

@media (max-width: 420px) {
    .main-principal {
        object-fit: scale-down;
        display: flex;
        padding: 200px 8px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main-titles .nome {
        font-size: 30px;
    }

    .main-titles p {
        font-size: 15px;
    }

    .main-titles h1 {
        font-size: 17px;
    }

    .main-descricao {
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
    }
}