.wrapper-sobre-mim {
    height: 70vh;
    padding: 0px 144px 0px 144px;
    /* padding: 7.5em 15em; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.wrapper-sobre-mim div img {
    width: 560px;
}

.sobre-mim {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
}

#sobre-mim {
    font-weight: 600;
    font-size: 20px;
    color: #4275FA;
    line-height: 40px;
    letter-spacing: 1.5px;
}

.sobre-titles h2 {
    font-weight: 600;
    font-size: 33.5px;
    color: #2E2D56;
    line-height: 60px;
}

.sobre-mim p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #5F5E79;
}

@media (max-width: 1250px) {
    .wrapper-sobre-mim {
        padding: 32px 70px 0px 70px;
    }

    .wrapper-sobre-mim div img {
        width: 430px;
    }

    .sobre-mim {
        padding: 25px;
    }

    #sobre-mim {
        font-size: 15px;
        line-height: 25px;
    }

    .sobre-titles h2 {
        font-size: 25px;
        color: #2E2D56;
        line-height: 50px;
    }

    .sobre-mim p {
        font-size: 15px;
        line-height: 27px;
    }
}

@media (max-width: 990px) {
    .wrapper-sobre-mim {
        height: 100vh;
        padding: 0px 30px 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim {
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-titles h2 {
        font-weight: 600;
        font-size: 30.5px;
        color: #2E2D56;
        line-height: 60px;
    }

    .sobre-mim p {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #5F5E79;
    }

}

@media (max-width: 420px) {
    .wrapper-sobre-mim {
        height: 100vh;
        padding: 90px 1px 0px 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-sobre-mim div img {
        width: 290px;
    }

    .sobre-titles h2 {
        font-weight: 600;
        font-size: 30.5px;
        color: #2E2D56;
        line-height: 60px;
    }

    .sobre-mim p {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #5F5E79;
    }
}